<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=No">
    {% load static %}
    <script type="application/javascript" src="{% static 'events/validations.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'events/simple.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/bootstrap.css' %}">

    <title>{% block title %}<!-- -->{% endblock %}</title>
</head>
<body style="width: 100%;height: 100%">
{% if not user  %}
{#    <div class="banner-right" style="font-style: normal; font-size: medium">#}
    <div style=" width: 100%;font-style: normal; font-size:
    medium;background-color: #2196F3;color: white; text-align: right;
    right:0; left: 0;position: fixed">
        <span style="margin-right: 2%">Events portal</span>
    </div>
{% else %}
    <div style=" width: 100%;font-style: normal; font-size: medium;
    background-color: #2196F3;color: white; text-align: right;
    right:0;left: 0;position: fixed"
    >
        <span style="margin-right: 2%">Events portal</span>
        <br>
        <span style="margin-right: 2%;font-size: small">
            <a href="{% url 'events:index'  %}"><img src="{% static 'events/home.png' %}"></a>
             Hi &nbsp;{{ user.username }}!&nbsp;<a href="{% url 'events:logout' %}" style="color: white">logout</a>
        </span>
    </div>
{% endif %}
{% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
{% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>