{% extends 'events/base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
    <p style="margin-top: 50px"></p>
   <div class="container" style="width: 80%;border-color:#005cbf;border-width: 2px;border-style: solid">
   <div style="width: 100%; background-color:#0f6674;text-align: center;color:white;font-size: medium">Change Password
                 </div>
       <p></p>

        <form action="{% url 'events:change_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
{#                <label for="current">Current Password</label>#}
                <input type="hidden" class="form-control" id="current" name="current" value="{{ old }}" readonly>
            </div>

            <div class="form-group">
                <label for="pwd">New Password</label>
                <input type="password" class="form-control" id="pwd" name="pwd">
            </div>

             <div class="form-group">
                <label for="pwd">Confirm new password</label>
                <input type="password" class="form-control" id="pwd1" name="pwd1">
            </div>
            <p></p>
            <div class="form-group">
                <span><button type="submit" class="btn btn-primary">Submit</button></span>
            </div>
        </form>

{#        <form style="display: inline-block" action="{% url 'events:change_password' %}" method="post">#}
{#            {% csrf_token %}#}
{#            <table>#}
{#                <tr>#}
{#                    <td><label for="current">Current Password:</label></td>#}
{#                    <td><input type="password" id="current" name="current" value="{{ old }}"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="pwd">New Password:</label></td>#}
{#                    <td><input type="password" id="pwd" name="pwd" pattern="{6,}" autofocus></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="pwd1">Confirm new Password:</label></td>#}
{#                    <td><input type="password" id="pwd1" name="pwd1" pattern="{6,}"></td>#}
{#                </tr>#}
{##}
{#                <tr>#}
{#                    <td>#}
{#                    </td>#}
{#                    <td>#}
{#                        <button type="submit" class="button">Submit</button>#}
{#                    </td>#}
{#                </tr>#}
{##}
{#            </table>#}
{#        </form>#}
    </div>
{% endblock %}