{% extends 'events/base.html' %}
{% load static %}{% block title %}Registrations{% endblock %}
{% block content %}
    <div  style="width: 100%;background-color: #b3d7ff;text-align: right;">
    <span>
        <a href="{% url 'events:export_csv' 2 %}"><img src="{% static 'events/Excel-icon_25.png' %}" alt="export to excel"
        data-toggle="tooltip"
        title="export to excel"></a>
    </span>
    </div>
    <div style="text-align: center" class="table-bordered">
        <table class="table-striped" style="display: inline-block">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Payment</td>
            <td>Payment Ref</td>
            <td>Num Guests</td>
            <td>Num Days</td>
        </tr>
            {% for r in deleted %}
                <tr>
                    <td>
                        {{ r.first_name }}
                    </td>
                    <td>
                        {{ r.last_name }}
                    </td>
                    <td>
                        {{ r.payment_amount }}
                    </td>
                    <td>
                        {{ r.payment_ref }}
                    </td>
                    <td>
                        {{ r.num_guests }}
                    </td>
                    <td>
                        {{ r.num_days }}
                    </td>
                </tr>

            {% endfor %}

        </table>
    </div>
{% endblock %}