{% extends 'events/base.html' %}
{% block title %} Event Registration{% endblock %}
{% block content %}
{#    <div class="banner-right">#}
{#        <h5>REC 76-80 events Portal</h5>#}
{#        <div style="color: white;font-style: normal"> {{ username }} logged in</div>#}
{#    </div>#}
    <div class="reverse-title">Edit your registration for {{ event_name }} </div>

    <div style="margin-left: 10%">
        <form action="{% url 'events:edit' registration.id %}" method="post">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            <span style="margin-left: 13%">
                <input type="submit" value="Submit" class="button">
            </span>
        </form>
    </div>


{% endblock %}