{% extends 'events/base.html' %}
{% block title %} Event Registration{% endblock %}
{% block content %}
{#<p style="margin-top: 50px"></p>#}
    <div style="width: 100%;background-color: #b3d7ff;text-align: left;">
       Edit your registration for {{ event.event_name }}
    </div>
    <div class="container-fluid" style="width:100%;margin-left: 10%;font-size: small">
        <form style="font-size: smaller" action="{% url 'events:edit' registration.id %}" method="post">
           <table class="table table-responsive">
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            <span style="margin-left: 15%">
                <input type="submit" value="Submit" class="btn btn-primary">
            </span>
        </form>
    </div>




{% endblock %}