{% extends 'events/base.html' %}
{% block title %} Index {% endblock %}
{% block content %}
   <div style="text-align: center;margin-top: 50px">
   <p style="background-color: #b3d7ff;">
       click on the event you want to register or view.
   </p>
   <table class="table-striped" style="display: inline-block">
       {%  for event in events %}
       <tr>
           <td><a href="{% url 'events:index' event.id %}">{{ event.event_name }}</a> </td>
       </tr>
       {% endfor %}
   </table>
   </div>


{% endblock %}