{% extends 'events/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{#    <p style="margin-top: 50px"></p>#}
    <div style="width: 100% ;border-color:grey;border-width: 2px;border-style: solid;">

        <div style="width: 100%; background-color: grey;text-align: center;color:white;font-size: medium;">Login
                 </div>
           {%  if err %}
                {{ err }}
            {% endif %}

        <p></p>
      <div class="container">
        <form action="{% url 'events:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
{#                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
{#                    else.</small>#}
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
            </div>
            <p></p>
            <div class="form-group">
                <span><button type="submit" class="btn btn-primary">Submit</button></span>
            </div>
        </form>
          </div>
        <p></p>
        <div class="row">
                <div class="col" style="text-align: left">
                    Forgot password?
                    <a href="{% url 'events:password_reset' %}">Reset Password </a>
                </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p></p>
               <div class="col" style="text-align: right">
                    New User?
                    <a href="{% url 'events:new_user' %}">Register </a>
                </div>
        </div>

    </div>


{% endblock %}