{% extends 'events/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <div>
        <p></p>
        <div style="width: 100%">

            <span style="text-align: left;margin-left: 2%">   Login </span>
        </div>
        <p style="color: dimgray">{{ err }}</p>
        <div style="text-align: center">
            <form style="display: inline-block" action="{% url 'events:login' %}" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="email">Email Id:</label></td>
                        <td><input type="email" id="email" name="email" autofocus></td>
                    </tr>
                    <tr>
                        <td><label for="pwd">Password:</label></td>
                        <td><input type="password" id="pwd" name="pwd" pattern="{8,}"></td>
                    </tr>

                    <tr>
                        <td>
                        </td>
                        <td>
                            <button type="submit" class="button">Submit</button>
                            <button type="reset" class="button">Reset</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>New User? <a href="{% url 'events:new_user' %}"> Register </a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Forgot password?
                            <a href="{% url 'events:password_reset' %}">Reset Password </a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

{% endblock %}