{% extends 'events/base.html' %}
{% block title %} Password Reset {% endblock %}
{% block content %}
    <p style="margin-top: 50px"></p>
     <div class="container-fluid" style="width: 80% ;border-color:#005cbf;border-width: 2px;border-style: solid">

        <div style="width: 100%;background-color:#0f6674;text-align: center;color:white;font-size: medium">Password Reset</div>
       <p></p>
        <b style="color: red">{{ err }}</b>
        <div style="text-align: center" >
            <form action="{% url 'events:password_reset' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <p></p>
            <div class="form-group">
                <span><button type="submit" class="btn btn-primary">Submit</button></span>
            </div>
        </div>
    </div>
{% endblock %}