{% extends 'events/base.html' %}
{% block title %} Event Registration{% endblock %}
{% block content %}
{#<p style="margin-top: 50px"></p>#}
    <div style="background-color: #b3d7ff;width: 100%;text-align: left" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
     <span style="margin-left: 5%">
        Registration for {{ event_name }} on
        {{ event.event_date }} at {{ event.event_venue }} at this <a href="{{ event.event_link }}">resort</a>
    </span>
    </div>
    <div style="color: #ff0000">{{ err }}</div>
   <div class="container-fluid" style="width:100%;margin-left: 10%;font-size: small">
        <form style="font-size: smaller" action="{% url 'events:register' event.id %}" method="post">
            <table class="table table-responsive">
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            <span style="margin-left: 15%">
                <input type="submit" value="Register" class="btn btn-primary">
            </span>
        </form>
    </div>


{% endblock %}