{% extends 'events/base.html' %}
{% block title %}Registrations{% endblock %}
{% load static %}
{% block content %}
    <div class="card">
    <div class="" style="width: 100%;text-align: right;background-color: lightgray">
        <a href="{% url 'events:export_csv' 1 %}"><img src="{% static 'events/Excel-icon_25.png' %}"
                                                       alt="export to excel" data-toggle="tooltip"
        title="export to excel"></a>
    </div>
    <div  >
        <table class="table-bordered table-striped table-responsive" >
        <tr style="background-color:grey;color: white;text-align: center;font-size: small">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Pmt</td>
            <td>Pmt_Ref</td>
            <td>Days</td>
            <td>Guests</td>
            <td>Arr</td>
            <td>Dep</td>
            <td>Pickup</td>
            <td>Mode</td>
            <td>Extended</td>
            <td>Special</td>
            <td>Mobile</td>
        </tr>
            {% for reg in active_regs %}
                <tr style="font-size: small">
                    <td>{{ reg.first_name}}</td>
                    <td>{{ reg.last_name }}</td>
                    <td>{{ reg.payment_amount }}</td>
                    <td>{{ reg.payment_ref }}</td>
                    <td>{{ reg.num_days }}</td>
                    <td>{{ reg.num_guests }}</td>
                    <td>{{ reg.arrival_date.date}}</td>
                    <td>{{ reg.departure_date.date }}</td>
                    <td>{{ reg.pickup_reqd }}</td>
                    <td>{{ reg.mode_of_travel }}</td>
                    <td>{{ reg.extended_tour }}</td>
                    <td>{{ reg.special_req }}</td>
                    <td>{{ reg.mobile }}</td>
                </tr>
            {% endfor %}

        </table>
</div>
    </div>
{% endblock %}