{% extends 'events/base.html' %}
{% block title %} Upload {% endblock %}
{% block content %}
        <div class="reverse-title"><b>Upload Media</b></div>
    <div style="margin-left: 10%">
      <form method="POST" action="{% url 'events:upload' user.id %}" enctype="multipart/form-data">
          <table>
        {% csrf_token %}
        {{ form.as_table }}
              </table>
        <button style="margin-left: 7%" type="submit" class="button">Save</button>
    </form>
    </div>
{% endblock %}
